body {
	margin: 0;
	padding:0;
	font-family: verdana;
}

.artImg{
	max-width: 200px;
	overflow: hidden;
	margin-bottom: 10px;
}
.art{
	padding: 15px;
}
.thumbs{
	width: 150px;
}
.jumbotron{
    margin: 5px;
    padding: 5px;
}
label {

    font-size: 12px;
}

.number{
    width: 50px !important;
}

/*angular animation fade-in/out*/
.fade-in-out {
  transition: 0.5s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}


.part-update input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .part-update input.ng-valid.ng-touched {
    background-color: #78FA89;
  }

.part-update input.ng-untouched{
    background-color: #ffffff;
}